PyPDF2==3.0.1
anthropic==0.25.7
openai==1.25.2
tqdm==4.66.4
termcolor==2.4.0
json5==0.9.25
requests==2.32.3
beautifulsoup4==4.12.3
pydantic==2.7.1
python-dotenv==1.0.1
pdfkit==1.0.0
Pillow==10.3.0
pytesseract==0.3.10
pdf2image==1.17.0
tiktoken==0.7.0
weasyprint==62.3
Markdown==3.6
httpx==0.25.2